/* Font Import (optimalkan hanya sekali) */
@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=League+Gothic&family=Marck+Script&display=swap");

.scroll-container {
    display: flex;
    width: 400vh; /* 4 section */
    height: 100vh;
    transition: transform 1s ease-in-out;
}

.section {
    flex: none;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 5px black;
}

/* Slide 1 */

.slide-1 .text-1 h1 {
    position: absolute;

    bottom: 200px; /* posisi dari bawah */
    left: 0; /* posisi dari kiri */
    padding-left: 50px;
    width: auto;
    height: auto;
    text-align: left;
    font-family: "Karantina";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 97px;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(9, 9, 9, 0.25);
}

.slide-1 .text-1 h1 span {
    color: #d91f1f;
}

.slide-1 .text-2 h1 {
    position: absolute;

    bottom: 120px; /* posisi dari bawah */
    left: 0; /* posisi dari kiri */
    padding-left: 50px;
    width: auto;
    height: auto;
    text-align: left;
    font-family: "Karantina";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 97px;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(9, 9, 9, 0.25);
}

.slide-1 .text-3 {
    position: absolute;

    bottom: 80px; /* posisi dari bawah */
    left: 0; /* posisi dari kiri */
    padding-left: 50px;
    width: auto;
    height: auto;
    text-align: left;
    font-family: "Karantina";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.02em;
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Slide 2 */

.slide-2 {
    position: relative;
}
.slide-2 .text-1 h1 {
    position: absolute;
    left: -700px;
    bottom: -50px;
    width: 908.01px;
    height: 191.16px;
    font-family: "Karantina";
    font-size: 87px;
    font-weight: 700;
    line-height: 88px;
    text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.24);
}

.slide-2 .text-2 {
    position: absolute;
    left: -700px;
    bottom: -220px;
    width: 908.01px;
    height: 191.16px;
    font-family: "Karantina";
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 49px;
    letter-spacing: 0.02em;

    color: #ffffff;
}

.slide-2 .model-pict {
    position: absolute;
    bottom: -400px; /* Sesuaikan agar dekat teks */
    right: -750px;
    z-index: 2;
}

.slide-2 .model-pict img {
    width: auto;
    max-width: 700px;
    height: auto;
}

/* Slide 3 */
.slide-3 {
    position: relative;
}

.slide-3 h1 {
    position: absolute;
    width: 600px;
    left: -300px;
    bottom: -180px;
    font-family: "Karantina";
    font-style: italic;
    font-weight: 700;
    font-size: 96px;
    line-height: 97px;
    letter-spacing: 0.03em;
    text-align: center;
    text-shadow: 6px -1px 4px rgba(0, 0, 0, 0.25);
}

.slide-3 h2 {
    position: absolute;
    width: 823.83px;
    height: 106.37px;
    left: -420px;
    bottom: -280px;
    font-family: "Karantina";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

/* Slide 4 */

.section .slide-4 {
    position: relative;
    width: 876.8px;
    height: 350px;
    left: -220px;
    background: rgba(30, 30, 30, 0.33);
}

.slide-4 h2 {
    position: absolute;
    width: 564.74px;
    height: 83.63px;
    bottom: 240px;
    padding-left: 20px;
    font-family: "League Gothic";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #ffffff;

    text-shadow: 0px 4px 0.3px rgba;
}

.slide-4 h3 {
    position: absolute;
    bottom: 80px;
    width: 808.35px;
    height: 145.55px;
    padding-left: 20px;
    font-family: "Marck Script";
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 67px;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide-4 p {
    position: absolute;
    width: 839.55px;
    height: 41.27px;
    padding-left: 20px;
    bottom: 30px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Button */

.nav-button {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.nav-button.prev {
    left: 40px;
}

.nav-button.next {
    right: 40px;
}

/* Navigation */

.navigation {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -70px;
    z-index: 2;
}

.navigation a {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: rgba(134, 134, 134, 0.5); /* Transparan dengan opacity */
    font-size: 0;
    border-radius: 50%;
    margin: 3px;
    transition: 1s;
}

.navigation a:hover {
    background-color: var(--bg2);
}

.section:nth-child(1) {
    background-image: url("/img/Slide/Slide-1.png");
}

.section:nth-child(2) {
    background-image: url("/img/Slide/Slide-2.png");
}

.section:nth-child(3) {
    background-image: url("/img/Slide/Slide-3.png");
}

.section:nth-child(4) {
    background-image: url("/img/Slide/Slide-4.png");
}

/* Tablet */
@media (max-width: 768px) {
    .section:nth-child(1) {
        background-position: 40% 20%;
    }
    .section:nth-child(2) {
        background-position: 50% 100%;
    }
    .section:nth-child(3) {
        background-position: 50% 100%;
    }
    .section:nth-child(4) {
        background-position: 50% 100%;
    }

    /* Slide 1 Query  */
    .slide-1 .text-1 h1 {
        font-size: 48px;
        line-height: 48px;
        padding-left: 20px;
        bottom: 230px; /* naikkan sedikit agar tidak terlalu ke bawah */
    }

    .slide-1 .text-2 h1 {
        font-size: 42px;
        line-height: 48px;
        padding-left: 20px;
        bottom: 180px;
    }

    .slide-1 .text-3 {
        font-size: 18px;
        line-height: 28px;
        padding-left: 20px;
        bottom: 150px;
    }

    /* Slide 2 Query  */

    .slide-2 .text-1 h1,
    .slide-2 .text-2 {
        left: 28%;
        transform: translateX(-25%);
        text-align: left;
        width: 450px;
        bottom: 260px;
    }

    .slide-2 .text-1 h1 {
        width: 85%;
        font-size: 40px;
        line-height: 1.1;
    }

    .slide-2 .text-2 {
        padding-left: 30px;
        font-size: 20px;
        bottom: 140px;
    }
    .slide-2 .model-pict {
        position: relative;
        right: 20px;
        bottom: -180px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .slide-2 .model-pict img {
        max-width: 110%; /* Lebih besar tapi masih proporsional */
    }

    /* SLide 3 */

    .slide-3 .text-1 h1 {
        left: 47%;
        transform: translateX(-50%);
        text-align: center;
        width: 450px;
        bottom: -250px;
        font-size: 60px;
    }

    .slide-3 .text-2 h2 {
        left: 35%;
        transform: translateX(-50%);
        text-align: center;
        width: 400px;
        font-size: 24px;
        line-height: 1.1;
        bottom: -340px;
    }

    /* Slide 4 */
    .section .slide-4 {
        left: 40%;
        transform: translateX(-50%);
        text-align: left;
        width: 350px;
        height: 250px;
    }

    .slide-4 h2 {
        font-size: 50px;
        bottom: 150px;
    }

    .slide-4 h3 {
        font-size: 24px;
        width: 350px;
        line-height: 1.2;
        padding-top: 80px;
    }

    .slide-4 p {
        font-size: 16px;
        bottom: 30px;
    }

    /* button next and previus */
    .nav-button.prev {
        left: 15px;
    }

    .nav-button.next {
        left: 355px;
    }
}
